
.Main_nav {
 
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .Main_nav .logo {
    display: block;
    text-align: left;
    padding-top: 4px;
    /* padding-left: 100px; */
    text-decoration: none;
  }
  
  .Main_nav .logo img {
    height: 90px;
    width: 100px;
  }
  
  .Main_nav .logo img:hover {
    width: 110px;
    transition: 1s;
  }


  footer{
    text-align: center !important;
    padding-top: 50px;
    height: 300px;
    width: auto;
    background-color: #333;
    color: azure;
}
.blogs{
    padding: 100px 0 100px 0;
}
.blogs h1{
  color: gray;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.card{ border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 20px;
}
.card:hover{
  box-shadow: 7px 15px 24px -1px rgba(0,0,0,0.37);
-webkit-box-shadow: 7px 15px 24px -1px rgba(0,0,0,0.37);
-moz-box-shadow: 7px 15px 24px -1px rgba(0,0,0,0.37);
transition: 1s;
}
.body{
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial;
}